<%- include('partials/header') %>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <form action="/addmedicinetemp" method="post">
        <% for(let i = 0;i<numvals;i++){ %>
            
            <h5>Medicine<%=i+1%></h5>
            <input type="time" name="<%=i%>">
            

        <% } %>
        <input type="submit" value="submit">
    </form>
    <%- include('partials/footer') %>