<%- include('partials/header') %>
<div class="container ">
    
    <div class="row justify-content-center mt-5">

        
        <div class="card shadow col-6 cardstyle bg-light">
            <div class="card-body">
                <h1 class="display-5 text-center mb-5 ">Statistics:</h1>
                <hr>
                <h4 class="text-center mb-5 ">Number of Active Users:</h4>
                <h5 class="text-center font-weight-light mb-5"><%=users %></h5>
                <hr>
                <h4 class="text-center mb-5">Number of medicines tracked:</h4>
                <h5 class="text-center font-weight-light"><%=medicines %></h5>
            </div>
            
        </div>
      </div>
</div>
<%- include('partials/footer') %>